.config/gh/
.config/google-chrome/
.config/chromium/
.config/Code/
.config/discord/
**/node_modules/
**/Cache/
**/*.log
.config/gh/
.config/google-chrome/
.config/chromium/
.config/Code/
**/Cache/
.config/Code/CachedData/
.config/Code/User/History/
.config/Code/Backups/
